{% extends "base.html" %}

{% block extrahead %}
{{ block.super }}
  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    if (auth2.isSignedIn.get()) {
      var profile = auth2.currentUser.get().getBasicProfile();
      console.log('ID: ' + profile.getId());
      console.log('Full Name: ' + profile.getName());
      console.log('Given Name: ' + profile.getGivenName());
      console.log('Family Name: ' + profile.getFamilyName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail());
    }
  </script>
{% endblock %}

{% block contents %}



{% load socialaccount %} 
{% providers_media_js %} 




{% if user.is_authenticated %} 
  <a href = "/accounts/logout">로그아웃</a> 
  <h2>{{user.username}} 님이 로그인중 </h2><br>
  <h2>{{user}}</h2>
{% else %} 
  <a href = "/accounts/signup">회원가입 /accounts/signup</a><br>
  <a href = "/accounts/login">로그인 /accounts/login</a><br> 
  <a href = "/accounts/google/login">구글 로그인 /accounts/google/login</a><br> 
{% endif %}




<div class="row mt-5">
  <div class="col-12 text-center">
    <h1>로그인</h1>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    {{ error }}
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %}
      
      {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
            placeholder="{{ field.label }}" name="{{ field.name }}" />
        </div>
        {% if field.errors %}
        <span style="color: red">{{ field.errors }}</span>
        {% endif %}
      {% endfor %}
      
      <button type="submit" class="btn btn-primary">로그인</button>
      <button type="button" class="btn btn-primary btn-block" onclick="location.href='/user/register'">회원가입</button>
    </form>
    <button onclick="location.href='https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=WO73y3DTPypJ9B7qq56N&redirect_uri={{url}}/user/callback/naver/&state=7a74649e-d714-438f-a3fc-991c8b6f4bc7'">
      네이버 로그인 버튼
    </button>
    <button onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=afa386bd37692148a6c914da561c8458&redirect_uri={{url}}/user/callback/kakao&response_type=code'">
      카카오 로그인 버튼
    </button>
    <button onclick="location.href='https://accounts.google.com/o/oauth2/auth/identifier?client_id=1094555666329-b76moi8dkckmoe3vc9kb2qhf60r8t563.apps.googleusercontent.com&redirect_uri=http://localhost:8000/user/callback/google/login&scope=https://www.googleapis.com/auth/userinfo.profile&response_type=code&state=LW3T3VwQn30o&flowName=GeneralOAuthFlow'">
      구글 로그인 버튼
    </button>
    <button onclick="location.href='/user/callback/google'">
      구글 로그인 버튼2
    </button>
    <button onclick="location.href='/user/callback/google123'">
      구글 로그인 버튼2
    </button>
  </div>
</div>

{% endblock %}
